PORT=5000
MONGO_URI=mongodb://localhost:27017/portfolio

# Email SMTP configuration (Optional, for email alerts when someone contacts you)
# Standard Gmail setup requires custom Google App Password.
EMAIL_SERVICE=gmail
EMAIL_USER=ashiqueoffl7@gmail.com
EMAIL_PASS=primcrfodmmlrdwn
RECEIVER_EMAIL=your_email@gmail.com
